.map-container {
  height: 100%;
}

.content-container {
  position: absolute;
  left: 50%;
  top: 50%;

  /* TODO: does it look better if it isn't 100% of the screen? */
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
